---
export interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
}

const { href, title, body, date } = Astro.props;
---

<div
  class="card card-compact lg:card-normal bg-base-100 shadow-xl border border-base-300"
>
  <a href={href}>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <div class="badge badge-ghost badge-accent">{date}</div>
      <p>{body}</p>
    </div>
  </a>
</div>

<style></style>
