---
import Card from "../../components/small/ArticleCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
  <div class="space-y-5">
    {
      posts.map((post) => (
        <Card
          title={post.data.title}
          body={post.data.description}
          href={"/blog/" + post.slug}
        />
      ))
    }
  </div>
</BaseLayout>
