---
import Card from "../../components/small/ArticleCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Blog">
  <div class="space-y-5 mt-5">
    {
      posts.map((post) => (
        <Card
          title={post.data.title}
          body={post.data.description}
          href={"/blog/" + post.slug}
          date={post.data.date.toLocaleDateString("en-UK", {
            day: "numeric",
            month: "long",
            year: "numeric",
          })}
        />
      ))
    }
  </div>
</BaseLayout>
