---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import cookieImg from "../assets/perfectCookie.png";
---

<BaseLayout>
  <div class="justify-center text-center">
    <div
      class="tooltip tooltip-open tooltip-top m-10 flex justify-center touch-manipulation"
      data-tip=""
      id="click-tip-display"
    >
      <Image class="cursor-pointer" src={cookieImg} alt="COOKIE" id="cookie" width="200" />
    </div>
    <h2>YOU DID <span id="local-num-clicks"></span>%) CLICKS</h2>
    <h3>NUMBER OF CONNECTED PEOPLE : <span id="connected-people"></span></h3>
  </div>
</BaseLayout>
<script src="../scripts/cookie/main.ts"></script>
