---
import Bio from "../components/Bio.vue";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <button class="btn btn-primary">One</button>
    <button class="btn btn-secondary">Two</button>
    <button class="btn">Three</button>
    <Bio client:only="vue" />
    <hr />
    <Projects />
    <hr />
    <Technologies />
  </main>
</BaseLayout>
