---
import Bio from "../components/Bio.vue";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <h1 class="text-center">Welcome !</h1>
    <Bio client:load />
    <hr />
    <Projects />
    <hr />
    <Technologies />
  </main>
</BaseLayout>
