---
---

<p class="text-center text-lg">
  👋<br />
  Hi, I'm Eliaz, a <span id="dyn_age"></span> years-old developer who is curently
  studying at
  <a href="https://www.uca.fr/licence-informatique">UCA</a>.
  <br />
  I'm interested in a lot of subjects ranging from economics to technology in general.<br
  />
  <a href="https://github.com/Eliaz-LR">My Github</a>.
  <a href="mailto:me@eliaz-lr.dev">Email me here</a> !
</p>

<script>
  import dayjs from "dayjs";

  const calculateAge = () => {
    return dayjs().diff(dayjs("2000-12-03"), "year", true).toFixed(9);
  };

  document.getElementById("dyn_age")!.innerText = calculateAge();

  setInterval(() => {
    const dynAgeElement = document.getElementById("dyn_age");
    if (dynAgeElement) {
      dynAgeElement.innerText = calculateAge();
    }
  }, 50);

</script>
