---
import ThemeSelector from "./ThemeSelector.astro";
---

<div class="sticky w-full top-0 z-30">
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <a href="/">
        <img src="/pp.webp" alt="profile picture" class="h-16" />
      </a>
    </div>
    <div class="navbar-end">
      <a href="/" class="btn btn-ghost normal-case">Home</a>
      <a href="/blog" class="btn btn-ghost normal-case">Blog</a>
      <ThemeSelector />
    </div>
  </div>
</div>
