---
import ThemeSelector from "./ThemeSelector.astro";
---

<div class="w-full">
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <a href="/">ELIAZ-LR</a>
    </div>
    <div class="navbar-end">
      <a href="/" class="btn btn-ghost normal-case">Home</a>
      <a href="/blog" class="btn btn-ghost normal-case">Blog</a>
      <ThemeSelector />
    </div>
  </div>
</div>
