---
import ThemeSelector from "./ThemeSelector.astro";
---

<div class="w-full">
  <div class="navbar bg-base-200">
    <div class="navbar-start">
      <a href="/" class="">ELIAZ-LR</a>
    </div>
    <div class="navbar-end">
      <ThemeSelector />
    </div>
  </div>
</div>
