---
import ProjectCard from "./small/ProjectCard.astro";
---

<div class="flex flex-col space-y-6">
  <h1>My projects</h1>
  <ProjectCard
    title="Lyrical Bomb"
    description="A lobby based multiplayer game where players have to guess songs that contain a given word in their lyrics. It utilizes Socket.io and the Genius API."
    img="/post_img.webp"
    tags={[
      "React",
      "JavaScript",
      "TypeScript",
      "HTML",
      "TailwindCSS",
      "Express.js",
      "Fly.io",
      "Node.js",
    ]}
    url="https://lyrical-bomb.eliaz-lr.dev/"
  />
  <ProjectCard
    title="Portfolio Website 3.0 (this one)"
    description="Rewrite with Astro of my previous website (which was using Vue.js). I talk more in detail about this in an article ;)"
    img="/post_img.webp"
    tags={["TypeScript", "HTML", "Astro", "TailwindCSS", "DaisyUI", "Vue.js"]}
    gitUrl=""
  />
  <ProjectCard
    title="Portfolio Website 2.0"
    description="This is my second portfolio website. I wanted to make it more user friendly than the first one."
    img="/post_img.webp"
    tags={["Vue.js", "JavaScript", "HTML", "TailwindCSS"]}
  />

  <ProjectCard
    title="Portfolio Website 1.0"
    description="This was my first project with Javascript. It emulates the feel of a command line interface."
    img="/post_img.webp"
    tags={["JavaScript", "HTML", "TailwindCSS"]}
    gitUrl="https://github.com/Eliaz-LR/Personnal-JS-Site"
    url="https://old.eliaz-lr.dev/"
  />
</div>
