---
import ProjectCard from "./small/ProjectCard.astro";
---

<div class="flex flex-col space-y-6">
  <h1>My projects</h1>
  <ProjectCard
    title="Lyrical Bomb"
    description="A lobby based multiplayer game where players have to guess songs that contain a given word in their lyrics. It utilizes Socket.io and the Genius API."
    img="/proj_pics/LyricalBomb.webp"
    tags={[
      "React",
      "JavaScript",
      "TypeScript",
      "HTML",
      "TailwindCSS",
      "Express.js",
      "Fly.io",
      "Node.js",
    ]}
    url="https://lyrical-bomb.eliaz-lr.dev/"
    gitUrl="https://github.com/Eliaz-LR/Lyrical-Bomb"
    dateStart={new Date(2023, 3, 20)}
    dateEnd={new Date(2023, 5, 4)}
  />
  <ProjectCard
    title="Portfolio Website 3.0 (this one)"
    description="Rewrite with Astro of my previous website (which was using Vue.js). I talk more in detail about this in an article ;)"
    img="/proj_pics/Website3.webp"
    tags={["TypeScript", "HTML", "Astro", "TailwindCSS", "DaisyUI", "Vue.js"]}
    gitUrl=""
  />
  <ProjectCard
    title="Portfolio Website 2.0"
    description="This is my second portfolio website. I wanted to make it more user friendly than the first one."
    img="/proj_pics/Website2.webp"
    tags={["Vue.js", "JavaScript", "HTML", "TailwindCSS"]}
    gitUrl="https://github.com/Eliaz-LR/Personal-website-v2"
  />

  <ProjectCard
    title="Portfolio Website 1.0"
    description="This was my first project with Javascript. It emulates the feel of a command line interface."
    img="/proj_pics/OldWebsite.webp"
    tags={["JavaScript", "HTML", "TailwindCSS"]}
    gitUrl="https://github.com/Eliaz-LR/Personnal-JS-Site"
    url="https://old.eliaz-lr.dev/"
  />

  <ProjectCard
    title="3D Minesweeper"
    description="A minesweeper game in 3D and first person view with an online leaderboard."
    img="/proj_pics/3dMinesweeper.webp"
    tags={["Unity", "C#", "Firebase"]}
    gitUrl="https://github.com/Eliaz-LR/3D-Minesweeper"
    url="https://play.unity.com/mg/other/webgl-build-482"
  />
</div>
