---
import TechCard from "./small/TechCard.vue";
---

<h1>Technologies</h1>
<h2>Languages</h2>
<h3>Programming</h3>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Python"
    image="/tech_logo/python.svg"
    comments="Python is my go-to language when making projects in many areas such as AI, Data Science and automatisation."
    level={4}
  />
  <TechCard
    client:load
    name="C#"
    image="/tech_logo/csharp.svg"
    comments="I've used C# with Unity to make games and with .NET to make desktop applications."
    level={2}
  />
  <TechCard
    client:load
    name="JavaScript"
    image="/tech_logo/javascript.svg"
    comments="I've used JavaScript to make my websites and web applications."
    level={2}
  />
  <TechCard
    client:load
    name="TypeScript"
    image="/tech_logo/typescript.svg"
    comments="I've recently started using TypeScript instead of JavaScript when possible. I appreciate the added type safety and the better IDE support. I've used it on Lyrical Bomb."
    level={2}
  />
  <TechCard
    client:load
    name="C/C++"
    image="/tech_logo/cpp.svg"
    comments="I've used C and C++ in school to learn the basics of programming."
    level={1}
  />
  <TechCard
    client:load
    name="Java"
    image="/tech_logo/java.svg"
    level={2}
    comments="I've used Java mainly in school."
  />
  <TechCard
    client:load
    name="Ruby"
    image="/tech_logo/ruby.svg"
    level={1}
    comments="I've used Ruby mainly in school."
  />
</div>
<h3>Scripting</h3>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Bash"
    image="/tech_logo/bash.svg"
    comments="I've used Bash to automate tasks by making small scripts used with cron for example."
    level={3}
  />
  <TechCard
    client:load
    name="PowerShell"
    image="/tech_logo/powershell.svg"
    comments="I've used PowerShell to make CLI and GUI (with .NET) tools."
    level={4}
  />
</div>
<h2>DevOps</h2>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Docker"
    image="/tech_logo/docker.svg"
    comments="I've used Docker to containerize my projects and to run software without issues. For exemple, I've used it for the backend of Lyrical Bomb and other projects. I've also used it extensively at school during my master's degree for my devops class."
    level={3}
  />
  <TechCard
    client:load
    name="Ansible"
    image="/tech_logo/ansible.svg"
    comments="I've used Ansible to automate the deployment of containers during my master's degree for my devops class."
    level={2}
  />
  <TechCard
    client:load
    name="Terraform"
    image="/tech_logo/terraform.svg"
    comments="I've used Terraform to automate the creation of cloud resources during my master's degree for my devops class."
    level={1}
  />
</div>
<h2>Backend</h2>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Node.js"
    image="/tech_logo/nodejs.svg"
    level={2}
    comments="I've used Node.js for the backend of Lyrical Bomb. Having a single language for both the frontend and the backend is quite convenient."
  />
  <TechCard
    client:load
    name="MongoDB"
    image="/tech_logo/mongodb.svg"
    level={2}
    comments="I've used MongoDB during my master's degree."
  />
</div>
<h2>Frontend</h2>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Vue.js"
    image="/tech_logo/vue.svg"
    comments="Vue.js is my first front end framework."
    level={2}
  />
  <TechCard
    client:load
    name="React"
    image="/tech_logo/react.svg"
    comments="React is the latest front end framework I've started learning. I've used it on Lyrical Bomb."
    level={2}
  />
  <TechCard
    client:load
    name="TailwindCSS"
    image="/tech_logo/tailwindcss.svg"
    level={3}
    comments="Tailwind CSS is my go-to CSS framework. I've used it on most of my projects, including this website. I appreciate how it allows me to quickly make good looking websites. Using it has also made me better at regular CSS."
  />

  <TechCard
    client:load
    name="HTML"
    image="/tech_logo/html.svg"
    level={4}
    comments="It's HTML"
  />
</div>
<h2>Other</h2>
<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Git"
    image="/tech_logo/git.svg"
    comments="Git is my go-to version control system. I've used it for many projects and I'm very familiar with it. While I tend to use GUIs for most of my Git needs, I'm also familiar with the CLI."
    level={4}
  />
</div>
