---
import TechCard from "./small/TechCard.vue";
---

<div class="flex flex-row flex-wrap justify-center">
  <TechCard
    client:load
    name="Python"
    image="/tech_logo/python.svg"
    comments="Python is my go-to language when making projects in many areas such as AI, Data Science and automatisation."
    level={3}
  />
  <TechCard
    client:load
    name="Python"
    image="/tech_logo/python.svg"
    comments="Python is my go-to language when making projects in many areas such as AI, Data Science and automatisation."
    level={3}
  />
  <TechCard
    client:load
    name="Python"
    image="/tech_logo/python.svg"
    comments="Python is my go-to language when making projects in many areas such as AI, Data Science and automatisation."
    level={3}
  />
  <TechCard
    client:load
    name="Python"
    image="/tech_logo/python.svg"
    comments="Python is my go-to language when making projects in many areas such as AI, Data Science and automatisation."
    level={3}
  />
</div>
