---
import BaseLayout from "./BaseLayout.astro";
import type { BlogSchema } from "../content/config";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, heroImage, badge } =
  Astro.props;
---

<BaseLayout>
  <main>
    <article>
      <h1>{title}</h1>
      <slot />
    </article>
  </main>
</BaseLayout>
