---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <div class="md:flex md:justify-center">
      <main class="p-6 pt-10 lg:pt-0 max-w-[1200px]">
        <slot />
      </main>
    </div>
  </body>
</html>
