---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const computedTitle = title === SITE_TITLE ? title : `${title} | ${SITE_TITLE}`;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        // document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme"),
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines

      document.addEventListener("astro:after-swap", themeChange);
    </script>
    <BaseHead title={computedTitle} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <div class="md:flex md:justify-center">
      <main class="p-6 pt-10 lg:pt-0 max-w-[1200px]">
        <slot />
      </main>
    </div>
  </body>
</html>
